<app-head-bar label="Dashboard"></app-head-bar>
<div class="bg-gray-50 min-h-screen">
  <div class="max-w-5xl mx-auto py-10 md:py-5 px-4">
    <div class="shadow bg-white rounded-3xl min-h-full p-10 m-6 drop-shadow-lg">
      <div class="space-y-3">
        <h1 class="font-semibold">Connect your bank account</h1>
        <p class="text-xs">
          Connect your existing current accounts or open an instant digital
          current account to
        </p>
        <div class="flex items-center space-x-6">
          <div class="flex items-center">
            <img src="icons/check.png" class="w-4 h-4" /><span
              class="text-xs ml-2"
              >Pay bills, vendors or suppliers</span
            >
          </div>
          <div class="flex items-center">
            <img src="icons/check.png" class="w-4 h-4" /><span
              class="text-xs ml-2"
              >Pay GST & TDS
            </span>
          </div>
          <div class="flex items-center">
            <img src="icons/check.png" class="w-4 h-4" /><span
              class="text-xs ml-2"
              >View statements
            </span>
          </div>
        </div>
        <div>
          <h1 class="mt-8 font-semibold">Select your bank to connect</h1>
          <div class="grid grid-cols-6 gap-0 justify-items-center mt-7">
            <div
              class="bg-gray-200 p-6 py-7 rounded-xl border hover:border-primary-600 hover:cursor-pointer text-xs"
            >
              ICICI Bank
            </div>
            <div
              class="bg-gray-200 p-6 py-7 rounded-xl border hover:border-primary-600 hover:cursor-pointer text-xs"
            >
              YES Bank
            </div>
            <div
              class="bg-gray-200 p-6 py-7 rounded-xl border hover:border-primary-600 hover:cursor-pointer text-xs"
            >
              Axis Bank
            </div>
            <div
              class="bg-gray-200 p-6 py-7 rounded-xl border hover:border-primary-600 hover:cursor-pointer text-xs"
            >
              SBI Bank
            </div>
            <div
              class="bg-gray-200 p-6 py-7 rounded-xl border hover:border-primary-600 hover:cursor-pointer text-xs"
            >
              View All
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="max-w-5xl mx-auto py-10 md:py-5 px-4">
      <div class="grid grid-cols-2 gap-x-6">
        <div class="shadow bg-white rounded-3xl h-full p-10 drop-shadow-lg">
          <div class="flex flex-row items-center justify-between">
            <h1 class="text-black font-semibold">Bills due to pay</h1>
            <p
              class="border border-primary-600 rounded-full p-1 px-3.5 hover:bg-blue-100 text-3xl text-primary-600"
            >
              +
            </p>
          </div>
          <div class="text-xs flex flex-col items-center space-y-4 mt-7 mb-7">
            <p>Looks like you haven’t created or imported bills yet!</p>
            <p class="text-center">
              Import or create bills manually to Pay using any of your connected
              bank accounts
            </p>
          </div>
        </div>
        <div class="shadow bg-white rounded-3xl h-full p-10 drop-shadow-lg">
          <div class="flex flex-row items-center justify-between">
            <h1 class="text-black font-semibold">Invoices yet to be paid</h1>
            <p
              class="border border-primary-600 rounded-full p-1 px-3.5 hover:bg-blue-100 text-3xl text-primary-600"
            >
              +
            </p>
          </div>
          <div class="text-xs flex flex-col items-center space-y-4 mt-7 mb-7">
            <p>Looks like you haven’t created any invoices yet!</p>
            <p class="text-center">
              Get paid online by sending GST compliant invoices.
            </p>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-x-6 mt-7">
        <div class="shadow bg-white rounded-3xl h-full p-10 drop-shadow-lg">
          <div class="flex flex-row items-center justify-between">
            <h1 class="text-black font-semibold">Cash Flow</h1>
            <p
              class="border border-primary-600 rounded-full px-1 hover:bg-blue-100 text-3xl text-primary-600"
            >
              <span class="">&#8599;</span>
            </p>
          </div>
          <div class="text-xs flex flex-col items-center space-y-4 mt-7 mb-7">
            <p>Cash coming in and going out of your business.</p>
            <p>
              <select name="" id="">
                <option>This month</option>
                <option>Last 3 months</option>
                <option>Last 6 months</option>
                <option>Last 12 months</option>
              </select>
            </p>
          </div>
        </div>
        <div class="shadow bg-white rounded-3xl h-full p-10 drop-shadow-lg">
          <div class="flex flex-row items-center justify-between">
            <h1 class="text-black font-semibold">Expense Breakdown</h1>
            <p class="">
              <select name="" id="">
                <option>This month</option>
                <option>Last 3 months</option>
                <option>Last 6 months</option>
                <option>Last 12 months</option>
              </select>
            </p>
          </div>
          <div class="text-xs flex flex-col items-center space-y-4 mt-7 mb-7">
            <p>Looks like you haven’t created any invoices yet!</p>
            <p class="text-center">
              Get paid online by sending GST compliant invoices.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
